body {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.button {
  line-height: 18px;
  text-transform: uppercase;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  padding: 0 140px;
  margin: 0px;
  background-color: #eeeeee;
 }

.main-navigation {
  display: flex;
  padding-top: 49px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 200px;
}

.main-header-logo:hover {
  opacity: 0.3;
}

.site-navigation {
  width: 440px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-cart-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 160px;
  max-width: 160px;
  margin-left: auto;
}

.user-cart-container svg {
  position: absolute;
  top: 33px;
  left: 46px;
}

.user-cart {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.site-navigation li,
.user-cart li {
  padding: 25px 0 13px 0;
}

.site-navigation a,
.user-cart a {
  display: flex;
  color: #000000;
  line-height: 33px;
  font-weight: 500;
  text-transform: uppercase;
}

.user-cart a {
  padding-left: 40px;
}

.site-navigation a:hover,
.user-cart a:hover {
  color: #fb565a;
}

.site-nav-active {
  border-bottom: 3px solid red;
  margin-bottom: -3px;
}

.site-navigation a:active,
.user-cart a:active {
  color: #000000;
  opacity: 0.3;
}

.slider {
  position: relative;
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  width: 18px;
  height: 18px;
  padding: 8px;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 72px 0 92px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 12px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-title {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-info {
  max-width: 430px;
  margin: 0;
  margin-bottom: 52px;
  font: inherit;
}

.button-more-info {
  padding: 15px 55px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #fb565a;
}

.button-more-info:hover {
  background-color: #e74246;
  }

.button-more-info:active {
  color: #e48789;
  background-color: #d7373b;
}

.main-page {
  margin: 0;
  padding: 0 140px;
}

.product {
  padding-bottom: 93px;
  border-bottom: 2px solid #eeeeee;
}

.product-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-right: 60px;
  list-style: none;
}

.product-item {
  width: 300px;
}

.product-item img {
  margin-bottom: 20px;
}

.product-item h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 17px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.product-item p {
  margin: 0;
  margin-bottom: 45px;
  padding-right: 20px;
}

.button-order-red {
  padding: 15px 41px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #fb565a;
}

.button-order-red:hover {
  background-color: #e74246;
  }

.button-order-red:active {
  color: #e27a7c;
  background-color: #d7373b;
}

.button-order-green {
  padding: 15px 41px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #00ca74;
}

.button-order-green:hover {
  background-color: #00bc6c;
}

.button-order-green:active {
  color: #62c192;
  background-color: #00aa62;
}

.button-order-yellow {
  padding: 15px 41px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #efc84a;
}

.button-order-yellow:hover {
  background-color: #eab534;
}

.button-order-yellow:active {
  color: #ebbe6d;
  background-color: #e5a722;
}

.about-us {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 2px solid #eeeeee;
}

.about-us-info {
  width: 700px;
}

.lead {
  margin: 0;
  margin-bottom: 32px;
  padding-top: 75px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.principles {
  width: 660px;
  padding: 0;
  margin-bottom: 38px;
}

.about-us-product {
  padding: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 700;
}

.about-us-product-list {

  margin: 0;
  padding: 0;
  padding-left: 35px;
  list-style: none;
}

.about-us-product-list li {
  position: relative;
  margin-bottom: 24px;
}

.about-us-product-list li::before {
  position: absolute;
  content: "";
  width: 27px;
  height: 2px;
  top: 48%;
  left: -35px;
  background-color: #fb565a;
}

.about-us-features {
  width: 360px;
  padding-top: 40px;
}

.about-us-features img {
  margin-bottom: 13px;
}

.features-info {
  padding: 0;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.table-percent {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.table-percent td {
  width: 120px;
}

.table-percent span {
  position: relative;
  vertical-align: baseline;
  top: -14px;
  font-size: 26px;
}

.table-indicator {
  font-size: inherit;
  line-height: 18px;
}

.table-indicator td {
  width: 100px;
  padding-top: 12px;
}

.links-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-bottom: 80px;
  padding: 47px 30px 37px 30px;
  border-bottom: 2px solid #eeeeee;
  list-style: none;
}

.links-list li {
  position: relative;
}

.links-list a {
  margin-right: 100px;
  opacity: 0.2;
}

.links-list li:nth-child(3n) a {
  margin-right: 120px;
}

.links-list li:nth-child(4n) a {
  margin-right: 0px;
}

.links-list a:hover {
  opacity: 1;
}

.links-list a:active {
  opacity: 0.1;
}

.decor-1::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 50px;
  top: 5px;
  right: 47px;
  background-color: #eeeeee;
}

.decor-2::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 50px;
  top: 15px;
  right: 56px;
  background-color: #eeeeee;
}

.decor-3::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 50px;
  top: -5px;
  right: 60px;
  background-color: #eeeeee;
}

.main-footer {
  margin-bottom: 0;
}

.footer-contacts {
  position: relative;
  min-height: 360px;
  padding-top: 54px;
  margin-bottom: 69px;
  background-color: #f0ede6;
/*  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;*/
}

.footer-contacts iframe {
  position: absolute;
  top: 0;
  z-index: 0;
}

.contacts-info {
  position: relative;
  box-sizing: border-box;
  width: 319px;
  min-height: 310px;
  z-index: 1;
  padding: 50px;
  margin: 0 auto 54px 140px;
  background-color: #ffffff;
}

.company-name {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts-info p {
  width: 210px;
  padding: 0;
  font-size: inherit;
  line-height: 18px;
}

.button-contacts {
  display: block;
  margin-top: 40px;
  padding: 16px 44px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #fb565a;
}

.button-contacts:hover {
  background-color: #e74246;
}

.button-contacts:active {
  color: #e48789;
  background-color: #d7373b;
}

.footer-social {
  display: flex;
  padding: 0 140px;
}

.social-btn-list {
  display: flex;
  margin: 0;
  margin-right: 120px;
  padding: 0;
  list-style: none;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 81px;
  margin-right: 12px;
  margin-bottom: 70px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
}

.social-btn:active path {
  fill: #e37376;
}

.social-bonus-friendship {
  margin: 0;
  margin-bottom: 2px;
  padding: 7px 3px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.social-bonus-discount {
  margin: 0;
  font-size: inherit;
  line-height: 22px;
}

@keyframes modal-animation {
  0% {
    transform: translateX(-2000px);
  }

  70% {
    transform: translateX(40px);
  }

  90% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

.modal {
 position: absolute;
 z-index: 2;
 background-color: #ffffff;
 box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75);
}

.modal-contacts {
  display: none;
  width: 960px;
  box-sizing: border-box;
  top: 1708px;
  left: 240px;
  padding: 70px 102px 70px 100px;
}

.modal-show {
  display: block;
  animation-name: modal-animation;
  animation-duration: 0.8s;
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.8s;
}

.write-to-us {
  margin: 0;
  margin-bottom: 42px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.form-contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-contacts p {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 34px;
}

.form-contacts label {
  margin-bottom: 5px;
  font-size: inherit;
  line-height: 18px;
  font-weight: 700;
}

.form-contacts input {
  width: 356px;
  box-sizing: border-box;
  margin-left: 2px;
  padding: 15px 14px;
  border-radius: 3px;
  font: inherit;
  line-height: 18px;
  border: 2px solid #d7dcde;
}

.form-contacts input:hover {
  border-color: #b4b9bb;
}

.form-contacts input:focus {
  border-color: #000000;
}

.form-contacts input:invalid {
  border-color: #e74246;
  color: #e74246;
}

.form-contacts textarea {
  width: 756px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-left: 3px;
  margin-bottom: 14px;
  font: inherit;
  padding: 8px 12px;
  border: 2px solid #d7dcde;
}

.form-contacts textarea:hover {
  border-color: #b4b9bb;
}

.form-contacts textarea:focus {
  border-color: #000000;
}

.button-message {
  padding: 16px 80px;
  margin-left: 3px;
  margin-bottom: 15px;
  border: none;
  color: #ffffff;
  background-color: #fb565a;
}

.button-message:hover {
  background-color: #e74246;
}

.button-message:active {
  color: #e48789;
  background-color: #d7373b;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 88px;
  top: 75px;
  width: 26px;
  height: 26px;
  font-size: 0;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  left: 0px;
  position: absolute;
  width: 26px;
  height: 3px;
  background-color: #fecccd;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
  background-color: #fb565a;
}

.modal-close:active::before,
.modal-close:active::after {
  background-color: #ffeeee;
}

.inner-title {
  display: block;
  margin: 0;
  padding: 72px 100px 110px 216px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.inner-container {
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
}

.form-filter {
  width: 260px;
  margin-top: 57px;
}

.form-filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 57px;
  border: none;
}

.form-filter fieldset:nth-child(2) {
  margin-bottom: 45px;
}

.form-filter fieldset:nth-child(3) {
  margin-bottom: 50px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.form-legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-list-grid,
.filter-list-properties {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-option {
  padding-top: 19px;
  padding-left: 35px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: none;
}

.filter-option label {
  position: relative;
}

.filter-input {
  display: none;
}

.filter-input-checkbox-circle+label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -34px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 4px solid #b8b8b8;
}

.filter-input-checkbox-circle:checked+label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -26px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b8b8b8;
}

.filter-input-checkbox-circle:hover+label::before {
  border: 4px solid #4d4d4d;
}

.filter-input-checkbox-circle:checked:hover+label::after {
  background-color: #4d4d4d;
}

.filter-input-checkbox-circle:active+label::before {
  border: 4px solid #ededed;
}

.filter-input-checkbox-circle:checked:active+label::after {
  background-color: #ededed;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -34px;
  width: 19px;
  height: 19px;
  border-radius: 3px;
  border: 2px solid #b8b8b8;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -28px;
  width: 16px;
  height: 6px;
  transform: rotate(-45deg);
  border-left: 4px solid #b8b8b8;
  border-bottom: 4px solid #b8b8b8;
}

.filter-input-checkbox:hover+label::before {
  border: 2px solid #4d4d4d;
}

.filter-input-checkbox:checked:hover+label::after {
  border-bottom: 4px solid #4d4d4d;
  border-left: 4px solid #4d4d4d;
}

.filter-input-checkbox:active+label::before {
  border: 2px solid #ededed;
}

.filter-input-checkbox:checked:active+label::after {
  border-bottom: 2px solid #ededed;
  border-left: 2px solid #ededed;
}

.button-form-catalog {
  width: 260px;
  padding: 16px 0;
  font-family: inherit;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  background-color: #eeeeee;
}

.button-form-catalog:hover {
  background-color: #dfdfdf;
}

.button-form-catalog:active {
  color: #a9a9a9;
  background-color: #d5d5d5;
}

 .catalog-container {
  width: 760px;
}

.sort-container {
  display: flex;
  align-items: center;
  min-height: 133px;
}

.sort-title {
  width: 360px;
  padding: 0;
  margin: 0;
  margin-right: 38px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.sort-list {
  display: flex;
  align-items: center;
  width: 300px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sort-list a {
  padding: 0;
  padding-right: 24px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
}

.sort-list a:hover {
  opacity: 0.6;
}

.sort-list .sort-active,
.sort-list a:active {
  opacity: 1;
}

.sort-triangle {
  display: flex;
  justify-content: flex-end;
  width: 60px;
}

.sort-button-down svg {
  transform: rotate(180deg);
}

.sort-button-up {
  margin-left: 15px;
}

.sort-button-up:hover polygon,
.sort-button-down:hover polygon {
  fill: #a6a6a6;
}

.sort-button-up:active polygon,
.sort-button-active polygon,
.sort-button-active:hover polygon {
  fill: #231f20;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-item {
  position: relative;
  margin-bottom: 27px;
}

.catalog-item:hover {
  box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.25);
}

.frame-top {
  display: flex;
  align-items: center;
  width: 360px;
  height: 40px;
  border-radius: 5px 5px 0 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #e9e9e9;
}

.frame-top li {
  cursor: pointer;
}

.frame-top li:first-child {
  margin-left: 15px;
}

.frame-top li {
  width: 14px;
  height: 14px;
  margin-right: 9px;
  border-radius: 50%;
  background-color: #ffffff;
}

.catalog-item:hover .frame-top,
 .active-frame-top {
  background-color: #4d4d4d;
}

.info-item {
  display: none;
  width: 361px;
}

.info-item-name a  {
  color: #000000;
}

.catalog-item:hover .info-item,
.catalog-item .info-item-active {
  display: block;
  position: absolute;
  box-sizing: border-box;
  min-height: 230px;
  padding: 29px 80px 47px 80px;
  bottom: 0px;
  background-color: #eeeeee;
}

.info-item h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.info-item p {
  width: 230px;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
  font-size: inherit;
  line-height: 18px;
}

.button-buy {
  display: block;
  padding: 18px 40px 15px 62px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}

.pagination-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}

.pagination-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  margin-right: 10px;
  margin-top: 24px;
  border: 2px solid #eeeeee;
  font-size: inherit;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item-next a {
  min-width: 220px;
  padding: 0 20px;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: #acacac;
  background-color: #d5d5d5;
}

.pagination-item .pagination-item-current {
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}
